<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%= link_to "Data Science Colleges", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
  </div>

  
</nav>
