<h1>Colleges and Universities with Data Science Degrees</h1>
<p>A big list</p>

<table>
  <% @schools.each do |school| %>
    <tr>
      <td><strong><%= school.name %></strong></td>
      <td><%= school.program %></td>
    </tr>
  <% end %>
</table>